p{
   color:#ff0000;
    border: 10px solid blue;
    font-family: arial;
    font-size: 20px;
    padding: 20px;
    margin: 0;
    
    width: 200px;
    height: 200px;
    background: transparent
        url:(https://www.google.pl/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjX8KqUr-PTAhXJCpoKHUBdDzYQjRwIBw&url=http%3A%2F%2Fbennettfeely.com%2Fgradients%2F&psig=AFQjCNHTJr09heTcNbgLJ1qK7qVoH9r8Iw&ust=1494438436692830);

    
}